/* @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); */

@font-face {
    font-family: 'Lobster';
    src: url('./fonts/Lobster-Regular.ttf') format('embedded-opentype'), /* Internet Explorer */
    url('./fonts/Lobster-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('./fonts/Lobster-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Itim';
    src: url('./fonts/Itim-Regular.ttf') format('embedded-opentype'), /* Internet Explorer */
    url('./fonts/Itim-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('./fonts/Itim-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Medium.ttf') format('embedded-opentype'), /* Internet Explorer */
    url('./fonts/Roboto-Medium.woff') format('woff'), /* Pretty Modern Browsers */
    url('./fonts/Roboto-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Kimberley';
    src: url('./fonts/kimberley\ bl.ttf') format('embedded-opentype'), /* Internet Explorer */
    url('./fonts/kimberley-bl.woff') format('woff'), /* Pretty Modern Browsers */
    url('./fonts/kimberley\ bl.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body {
    background-color: #4e2e28;
}

#theoHeader {
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: 'Lobster', cursive;
    color: #90EE90;
    text-align: center;
    font-size: min(15vw, 150px);
}

nav {
    background-color: #ff6376;
}

ul a {
     font-family: 'Kimberley';
}

nav ul a {
    font-size: 1.5rem;
}

.fixed-nav nav {
    position: fixed;
    top:0;
    z-index: 1;
  }

.sidenav {
    background-color: #ff8598;
    color: #4e2e28;
}

.sidenav li > a {
    font-size: 1.5rem;
    margin-top: 10px;
}

li.logo {
    text-align: center;
}

#logo-container {
    height: 100%;
    width: 100%;
    padding-top: 15px;
}

#theoLogo {
    height: 90%;
    width: 90%;
}

.container {
    margin-top: 50px;
}

#preface {
    background-color: #F4F4F4;
    color: #4e2e28;
    width: 100%;
    border-radius: 9px;
    padding: 5px;
}

#preface p {
    margin: 15px;
    font-size: min(4vw, 24px);
    font-family: 'Roboto';
    line-height: min(5vw, 30px);
}

#preface p span {
    font-size: 29px;
}

.container h2 {
    text-align: center;
    color: #90EE90;
    font-family: 'Kimberley';
}
.row .col{
    margin-bottom: 30px;
}

.card-title {
    font-family: 'Kimberley';
}

.card-content {
    font-family: 'Roboto';
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
    color: #2eb8e6;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover{
    color: #ff6376;
}

.imageContainer img {
    height: 100%;
    width: 100%;
    transition:transform 0.25s ease;
}

.imageContainer h4 {
    color: #ff8598;
    font-family: 'Kimberley';
}

/* .imageContainer img:active {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
} */

.btn-large {
    background-color: #ff6376;
}

.btn-large:hover {
    background-color: #f1686f;
    color: #4e2e28;
}