/* @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); */

@font-face {
    font-family: 'CustomHeading';
    src: url('./fonts/Lobster-Regular.ttf') format('embedded-opentype'), /* Internet Explorer */
    url('./fonts/Lobster-Regular.ttf') format('woff2'), /* Super Modern Browsers */
    url('./fonts/Lobster-Regular.ttf') format('woff'), /* Pretty Modern Browsers */
    url('./fonts/Lobster-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('./fonts/Lobster-Regular.ttf') format('svg'); /* Legacy iOS */
}

body {
    background-color: #4e2e28;
}

#theoHeader {
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: 'Lobster', cursive;
    color: #90EE90;
    text-align: center;
    font-size: min(15vw, 150px);
}

nav ul a {
    font-size: 1.2rem;
}

.fixed-nav nav {
    position: fixed;
    top:0;
    z-index: 1;
  }

.container {
    margin-top: 50px;
}

#preface {
    background-color: #F4F4F4;
    color: #4e2e28;
    width: 100%;
    border-radius: 9px;
    padding: 5px;
}

#preface p {
    margin: 15px;
    font-size: min(4vw, 24px);
    font-family: Optima;
    line-height: min(5vw, 30px);
}

#preface p span {
    font-size: 29px;
}

.row .col{
    margin-bottom: 30px;
}

.btn-large {
    background-color: #ff6376;
}

.btn-large:hover {
    background-color: #f1686f;
    color: #4e2e28;
}